<footer role="contentinfo">
    <a href="https://github.com/jacopman" target="_blank"><img src="github-mark-white.svg" class="social-icons" alt="My Github link"></a>
    <a href="https://www.linkedin.com/in/jacob-n-867a19164/" target="_blank"><img src="InBug-White.png" class="social-icons" alt="LinkedIn"></a>
</footer>