@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div id="navigation">
            <ul class="menu">
                <li><a href="\">Jacob Nielson / Home</a></li>
                <li><a href="resume">Resume</a></li>
                <li><a href="tables">Tables</a></li>
                <li><a href="clone">Clone</a></li>
                <li><a href="api">API</a></li>
                <li><a href="experiment">Experiment</a></li>
            </ul> *@
        @* </div> *@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>