.navigation {
    display: flex;
    flex-direction: column;
}

.navbar-toggler {
    background-color: #ffffff1a;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .nav-scrollable {
        width: calc(100vw -3.5rem);
        overflow-y: auto;
    }

    #nav-links {
        justify-content: right;
    }
}

.flex-whole-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.nav-bar a {
    text-decoration: none;
    width: 9rem;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    color: #F1F0EF;
    font-size: 1.25rem;
    font-weight: 100;
    text-align: center;
}

.nav-bar a:hover {
    transition: transform 0.3s ease;
    background-color: #232324;
    transform: translateY(-2px);
}

.main-nav-link a {
    font-size: 2.5rem;
    font-weight: 100;
    text-decoration: none;
    color: #F1F0EF;
    padding-left: 4rem;
}