
<div class="flex-whole-nav-bar">
    <div id="main-nav-link" class="nav-bar">
        <NavLink id="home-icon" class="nav-item px-4 links" href="" Match="NavLinkMatch.All">Jacob Nielson</NavLink>
    </div>
    <div id="nav-links" class="nav-bar">
        <NavLink class="nav-item px-4 links" href="resume">Resume</NavLink>
        <NavLink class="nav-item px-4 links" href="tables">Tables</NavLink>
        <NavLink class="nav-item px-4 links" href="clone">Clone</NavLink>
        <NavLink class="nav-item px-4 links" href="api">API</NavLink>
        <NavLink class="nav-item px-4 links" href="experiment">Experiment</NavLink>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? navMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
