.flex-whole-nav-bar ::deep .nav-item {
    color: black;
    text-decoration: none;
    width: 9rem;
    font-size: 1.25rem;
    font-weight: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0;
}

.flex-whole-nav-bar ::deep .nav-item:hover {
    transition: transform 0.3s ease;
    background-color: #FF3B3F;
    transform: translateY(-2px);
}

.flex-whole-nav-bar ::deep .nav-item.active {
    color: #CAEBF2;
    background-color: #FF3B3F;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .nav-scrollable {
        width: calc(100vw -3.5rem);
        overflow-y: auto;
    }

    #nav-links {
        justify-content: right;
    }
}

.flex-whole-nav-bar {
    background-image: linear-gradient(#CAEBF2, #A9A9A9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 80px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#main-nav-link a {
    font-size: 2.5rem;
    font-weight: 100;
    text-decoration: none;
    padding-left: 4rem;
    display: flex;
    align-items: center;
    height: 80px;
}