@page "/clone"
@attribute [StreamRendering]

<PageTitle>testPage</PageTitle>

<h1>testing</h1>
<form>
    <input type="text" placeholder="name">
    <label for="email-text">email</label>
    <input type="email" name="" id="email-text">
    <textarea name="" id=""></textarea>
    <input type="radio" name="sex" id="male">
    <input type="radio" name="sex" id="female">

    <select name="" id="">
        <option value="0">1</option>
        <option value="1">2</option>
        <option value="2">3</option>
    </select>
</form>

<table class="Class-Testing">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Occupation</th>
    </tr>
    <tr>
        <td>Alice</td>
    <td>54</td>
    <td>Sales</td>
    </tr>
</table>

<a href="" target="_blank">
    This is a Hyperlink
</a>
<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjuJCFtZDzlMYXphYlK6SBMnTHcSOlC6YrC9-ARg-t2VkBHgSgWAZga1BHwYmt-UKCLKoYHpmDZ2DMXoQRLu71woRoLvVutS8SazNH1UH3E2nEnL96nJNnA9F0AlRGMqEt0lD-7G0d4BRD2/s400/camp_chairing_woman.png" alt="hi!">
<iframe width="1312" height="738" src="https://www.youtube.com/embed/FQdaUv95mR8" title="HTML Tutorial for Beginners" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="483" height="858" src="https://www.youtube.com/embed/o3-eG7Wy2X8" title="Web Developer&#39;s Life be Like!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<style>
    .Class-Testing {
        border-collapse: collapse;
        width: 60%;
    }
    .Class-Testing th {
        background-color: #dd49ca;
        font-weight: 300;
    }
</style>