@page "/"

<PageTitle>Jacob Nielson</PageTitle>

<h1>Jacob Nielson</h1>
<h6>currently Pursuing a Bachelors of Computer Science</h6>


<div id="banner-message" class="d-none">hidden message</div>
<button id="show-button" class="button d-block">Show Message</button>
<button id="hide-button" class="button d-none">Hide Message</button>



<div class="in-a-class">
    <div>
        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjh-loCOLq0mXwWX6NJ5BBbJmfpXoAFNmzZipuHe74PQcNkTUMZ_OeBqeXfvcjCiQjCjpwYj2aRluqwgDEIvoLPWbQ6ZcDAtGit7bXDcN9vUGMwjRQyL4t850GcqWeSiSvcOAmUC5vKjmaE/s400/shop_funinki.png" alt="">
        <div>
            <p>
                aaaaaaaa;sldfkjasd;flkasjfd;l
                <a target="_blank" href="https://snow.edu">biscut</a>
            </p>
        </div>
        <p>
            as;ldfksa;fjdkl
        </p>
    </div>
</div>
<div>
    <input type="text" class="green-background">
</div>
<div>
    <input type="text" class="green-background">
</div>
