@page "/"

<PageTitle>About Me / Home</PageTitle>


<div id="resume">
  <div id="resume-head">
    <h1>Jacob Nielson</h1>
    <img id="self-portrait" src="IMG_0251.jpg" alt="Portrait Photo">
    <h4>BSCS anticipated graduation date: 2028</h4>
  </div>

  <div id="resume-body">
    <h2 id="resume-about-me">About Me</h2>
    <p>I'm a Student of snow college studying Computer Science. I enjoy reading, programming, language learning,
      excercise, & playing games with friends</p>
    <p>I am currently Employed by Sunpower as a Proposals engineer. I've developed for many projects including:</p>
    <ul>
      <li>multiple hotkey trackers using python, AutoHotkey, and excel</li>
      <li>helped develop additional processes for excel usage tools</li>
    </ul>
  </div>
</div>