@page "/newpage"

<div id="todo-list">
    <h1>Basic To-Do List Framework</h1>
        
    <!-- Input Section -->
    <div>
        <input type="text" id="task-input" placeholder="input tasks here">
        @* <button id="task-to-add">
            Add Task
        </button> *@
        <button id="clickyButton" >click plz</button>
        <script>
        $("clickyButton").click(RazorFunction());
            function RazorFunction() {
                $("button") = @getHello();
            }
        </script>
    </div>

    <!-- Task List container -->
    <div id="todoList">
        <p>Tasks will appear here once you add your JavaScript logic.</p>
    </div>
</div>
@functions {
    public string getHello() {
        return "hello";
    }
}