@page "/resume"

<PageTitle>resume</PageTitle>
<div id="resume-comparison">
    <embed src="Resume_Jacob_Nielson.pdf" alt="" width="90%" height="1000rem">
</div>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

<style>
    #resume-comparison {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #embedded-resume {
        @* width: 90%; *@
        height: max-content;
    }
</style>